h1 {text-align: center; font-size:34px}
form {text-align: center; font-size:20px;}
p {text-align: center; font-size:20px; font-weight: bold; display: none;}
ul {list-style-type:none; padding: 0; display: none;}
.center {
	text-align: center;
	margin-bottom: 1cm;
}
.submit{
	margin-top:0.2cm;
	width: 8em;  height: 2em;
	font-size:14px
}